/*-----------------------------------------------------------------------------
Screen Stylesheet

Version:   2.1
Author:    meded90
E-mail:    meded90@gmail.com
Website:   http://www.signception.ru/
Skype:     meded90
-----------------------------------------------------------------------------*/



/* =OTHER
----------------------------------------------- */